<h2 class="cus-category-title">{{speGoods.categoryName}}</h2>
<div nz-row [nzGutter]="8">
  <div nz-col [nzSpan]="12" class="cus-goods-item" *ngFor="let goods of speGoods.goodsList">
    <nz-card>
      <ng-template #body>
        <div class="cus-goods-card">
          <div class="cus-goods-image">
            <img alt="商品图片" [src]="goods.goodsImg" />
          </div>
          <div class="cus-goods-info">
            <div class="cus-goods-info-item">
              <h3>{{goods.goodsName}}</h3>
            </div>
            <div class="cus-goods-info-item">
              <span class="cus-goods-price">￥ {{goods.goodsPrice}}</span>
              <button nz-button [nzType]="'primary'" class="cus-goods-add">添加到购物车</button>
            </div>
          </div>
        </div>
      </ng-template>
    </nz-card>
  </div>
</div>
