<div class="cus-footer-container">
  <div nz-row [nzType]="'flex'" [nzJustify]="'center'" [nzAlign]="'top'" class="cus-func-row">
    <div nz-col [nzSpan]="6" class="cus-func-list">
      <h3>用户帮助</h3>
      <a href="/" class="cus-func-link">常见问题</a>
      <a href="/" class="cus-func-link">使用指南</a>
    </div>
    <div nz-col [nzSpan]="6" class="cus-func-list">
      <h3>商务合作</h3>
      <a href="/" class="cus-func-link">我要开店</a>
      <a href="/" class="cus-func-link">加盟指南</a>
      <a href="/" class="cus-func-link">市场合作</a>
      <a href="/" class="cus-func-link">开放平台</a>
    </div>
    <div nz-col [nzSpan]="6" class="cus-func-list">
      <h3>关于我们</h3>
      <a href="/" class="cus-func-link">一听介绍</a>
      <a href="/" class="cus-func-link">加入我们</a>
      <a href="/" class="cus-func-link">联系我们</a>
    </div>
  </div>
  <div nz-row [nzType]="'flex'" [nzJustify]="'center'" [nzAlign]="'center'"  class="cus-copyright-row">
    <div nz-col [nzSpan]="12">Copyright ©2017-2017 lulu., All Rights Reserved.</div>
  </div>
</div>
