<ul nz-menu [nzMode]="'horizontal'" class="cus-menu">
  <div nz-row>
    <div nz-col [nzSpan]="3" [nzOffset]="2">
      <li nz-menu-item class="cus-logo">
        <i class="anticon anticon-dingding"></i> Eating</li>
    </div>
    <div nz-col [nzSpan]="2">
      <li nz-menu-item nzselected=true class="cus-menu-item">
        <a [routerLink]="['/']" class="cus-menu-link">首页</a>
      </li>
    </div>
    <div nz-col [nzSpan]="2">
      <li nz-menu-item class="cus-menu-item">
        <a [routerLink]="['/eating/orderlist']" routerLinkActive="active" class="cus-menu-link">我的订单</a>
      </li>
    </div>
    <div nz-col [nzSpan]="2">
      <li nz-menu-item class="cus-menu-item">
        <a [routerLink]="['/']" class="cus-menu-link">加盟合作</a>
      </li>
    </div>
    <div nz-col [nzSpan]="3" [nzOffset]="8">
      <li nz-menu-item class="cus-menu-item">
        <a [routerLink]="['/login']" routerLinkActive="active" class="cus-menu-link">
          <i class="anticon anticon-dingding"></i> 登陆/注册
        </a>
      </li>
    </div>
  </div>
</ul>
