.cus-menu{
    background: none;
    border: none;
    line-height: 64px;
}
.cus-menu-item, .cus-logo, .cus-menu-item .cus-menu-link{
    color: #fff;
    font-size: 16px;
    text-align: center;
}
.cus-logo{
    font-size: 32px;
}
.cus-logo:hover{
    color: #fff;
}
.cus-menu-item:hover{
    color: #fff;
    background-color: #196cac;
}

.cut-avatar {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 64px;
}

:host ::ng-deep .ant-avatar {
    background-color: #1E89E0;
    margin-top: 12px;
    margin-right: 18px;
}


