<nz-layout style="height:100%;background-color:#fff;">
  <nz-content style="height:80%">
    <div nz-row [nzType]="'flex'" [nzJustify]="'center'" [nzAlign]="'middle'" class="cus-main-container">
      <h1 nz-col [nzSpan]="4" class="cus-login-logo">
        <i class="anticon anticon-dingding"></i>
        Eating
      </h1>
      <div nz-col [nzSpan]="4">
        <nz-tabset class="cus-login-tabset">
          <nz-tab>
            <ng-template #nzTabHeading>
              短信登陆
            </ng-template>
            <form nz-form>
                <div nz-form-item>
                  <nz-input [(ngModel)]="phoneNum" [nzPlaceHolder]="'输入手机号码'" (keyup)="phoneNumChange()" [nzSize]="'large'" name="phoneNum" class="cus-login-input">
                      <ng-template #suffix>
                          <span (click)="getValidCode()" class="cut-validCode-btn" [class.cut-disable-validCode-btn]="isDisable">{{validCodeMessage}}</span>
                      </ng-template>
                  </nz-input>
                </div>
                <div nz-form-item>
                    <nz-input [(ngModel)]="validCode" [nzPlaceHolder]="'输入验证码'" [nzSize]="'large'" name="validCode"></nz-input>
                </div>
                <div nz-form-item>
                    <button nz-button [nzType]="'primary'" (click)="messageLogin()" [nzLoading]="isLogining" [nzSize]="'large'" class="cus-login-btn">登陆</button>
                </div>
                <div nz-form-item class="cus-login-tips">
                  温馨提示，如果使用的手机号未注册将会自动注册并登陆~~
                </div>
            </form>
          </nz-tab>
          <nz-tab>
              <ng-template #nzTabHeading>
                密码登陆
              </ng-template>
              <form nz-form>
                  <div nz-form-item>
                    <nz-input [(ngModel)]="phoneNum" [nzPlaceHolder]="'输入手机号码'" [nzSize]="'large'" class="cus-login-input" name="phoneNum">
                    </nz-input>
                  </div>
                  <div nz-form-item>
                      <nz-input [(ngModel)]="password" [nzPlaceHolder]="'输入密码'" [nzSize]="'large'" class="cus-login-input" name="password"></nz-input>
                  </div>
                  <div nz-form-item>
                      <button nz-button [nzType]="'primary'" (click)="passwordLogin()" [nzLoading]="isLogining" [nzSize]="'large'" class="cus-login-btn">登陆</button>
                  </div>
              </form>
          </nz-tab>
        </nz-tabset>
      </div>
    </div>
  </nz-content>
  <nz-footer style="height:20%" class="cus-login-footer">
    <div>Copyright ©2017-2017 lulu., All Rights Reserved.</div>
  </nz-footer>
</nz-layout>
