<div class="cus-title">修改密码</div>
<div class="cus-editPassword-body">
  <div nz-row [nzType]="'flex'" [nzAlign]="'middle'" class="cus-row">
    <div nz-col [nzSpan]="3" class="cus-col-label">
      <span class="cus-label">旧密码</span>
    </div>
    <div nz-col [nzSpan]="4" [nzOffset]="1">
      <nz-input [(ngModel)]="oldPassword" [nzPlaceHolder]="'旧密码 (初始密码则为空)'" [nzSize]="'default'" class="cus-input">
      </nz-input>
    </div>
  </div>
  <div nz-row [nzType]="'flex'" [nzAlign]="'middle'" class="cus-row">
    <div nz-col [nzSpan]="3" class="cus-col-label">
      <span class="cus-label">新密码</span>
    </div>
    <div nz-col [nzSpan]="4" [nzOffset]="1">
      <nz-input [(ngModel)]="newPassword" [nzPlaceHolder]="'新密码'" [nzSize]="'default'" class="cus-input">
      </nz-input>
    </div>
  </div>
  <div nz-row [nzType]="'flex'" [nzAlign]="'middle'" class="cus-row">
    <div nz-col [nzSpan]="3" class="cus-col-label">
      <span class="cus-label">确认密码</span>
    </div>
    <div nz-col [nzSpan]="4" [nzOffset]="1">
      <nz-input [(ngModel)]="confirmPassword" [nzPlaceHolder]="'确认密码'" [nzSize]="'default'" class="cus-input">
      </nz-input>
    </div>
  </div>
  <div nz-row>
    <div nz-col [nzSpan]="4" [nzOffset]="4">
      <button nz-button [nzType]="'primary'" (click)="editPassowrd()">
        <span>确认修改</span>
      </button>
    </div>
  </div>
</div>