<nz-layout>
    <nz-header class="cus-nav-header">
        <app-navigation class="cus-navigation"></app-navigation>
    </nz-header>

    <nz-content class="cus-profile-content">

        <app-profile-breadcrumb></app-profile-breadcrumb>

        <nz-layout class="cus-profile-subcontent"> 

            <nz-sider [nzWidth]="180" class="cus-profile-sider">
                <app-profile-menu></app-profile-menu>
            </nz-sider>

            <nz-content class="cus-outlet-content">
                <router-outlet></router-outlet>
            </nz-content>

        </nz-layout>
    </nz-content>

    <nz-footer class="cus-footer">
        <app-e-footer></app-e-footer>
    </nz-footer>
</nz-layout>