<div class="cus-orderdetail-title">订单详情</div>
<div style="height:120px;">
    <img src="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=2177693826,311469807&fm=27&gp=0.jpg" class="cus-order-item-img"
        />
    <div class="cus-order-item-content">
        <p class="cus-order-item-content-title">商家的名称</p>
        <p>订单号：27437546734756&nbsp;&nbsp;&nbsp;&nbsp;
            订单状态：未支付&nbsp;&nbsp;&nbsp;&nbsp;
            商家联系电话：13000000000</p>
        <p class="cus-order-item-content-button">
            <button nz-button [nzType]="'primary'">
                <span>付款</span>
            </button>
            <button nz-button [nzType]="'default'">
             <span>取消</span>
            </button>
            <button nz-button [nzType]="'dashed'">
              <span>付款</span>
            </button>
            <button nz-button [nzType]="'danger'">
              <span>取消</span>
            </button>
        </p>
    </div>

    <div class="cus-order-amounts">
            总计：<span>66.88</span>
        </div>
    </div>
<div style="float:clean;"></div>
<table class="cus-order-orderitem-table">
    <thead>
        <tr>
            <th>菜品名称</th>
            <th>数量</th>
            <th>小计</th>
            <th>评价</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>米饭</td>
            <td>1</td>
            <td>20.12</td>
            <td>口感很好</td>
        </tr>
        <tr>
            <td>米饭</td>
            <td>1</td>
            <td>20.12</td>
            <td>口感很好</td>
        </tr>
        <tr>
            <td>米饭</td>
            <td>1</td>
            <td>20.12</td>
            <td>
                <a>
                    <i class="anticon anticon-edit"></i>评价
                </a>
            </td>
        </tr>
    </tbody>
</table>

<div class="cus-order-address">
    <div class="cus-order-address-title">配送信息</div>
    <p>
        <span>联系人：</span>张三
    </p>
    <p>
        <span>联系电话：</span>13700000000
    </p>
    <p>
        <span>送餐地址：</span>广东海洋大学海浪A609        
    </p>
    <p>
        <span>送达时间：</span>12:12
    </p>
</div>