<div nz-row [nzType]="'flex'" [nzJustify]="'center'" >
  <div nz-col [nzSpan]="18">
    <div nz-row  [nzType]="'flex'" [nzJustify]="'space-between'" [nzAlign]="'middle'" class="cus-breadcrumb">
      <div nz-col [nzSpan]="6">
        当前位置：
        <a href="#">麻章区广东海洋大学</a>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-input [nzType]="'search'" [nzPlaceHolder]="'搜索商家'"></nz-input>
      </div>
    </div>
    <div nz-row class="cus-shop-list-container">
      <div nz-col [nzSpan]="6" *ngFor="let shopObj of shopList">
        <nz-card class="cus-cad-body">
          <ng-template #body>
            <a [routerLink]="['../../shop',shopObj.shopid]" class="cus-shop-link">
              <div class="cus-shop-card">
                <div class="cus-shop-image-box">
                  <img alt="商店Logo" width="80px" [src]="shopObj.shopphoto" />
                </div>
                <div class="cus-card-info">
                  <div class="cus-card-name cus-card-item">{{shopObj.shopname}}</div>
                  <div class="cus-card-rate cus-card-item"><nz-rate [ngModel]="'4'" [nzDisabled]="true"></nz-rate></div>
                  <div class="cus-card-sales cus-card-item"> 营业时间：{{shopObj.opentime}}</div>
                  <div class="cus-card-consum cus-card-item"> 起送价：{{shopObj.mincost}} 元</div>
                </div>
              </div>
            </a>
          </ng-template>
        </nz-card>
      </div>
      <div *ngIf="!hasShopTag" class="cus-no-shopList">
        没有找到商店哦
      </div>
    </div>
  </div>
</div>
