/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
}
body .ant-layout{
    background-color: #f7f7f7;
}
.cus-card-rate .ant-rate{
    font-size: 12px;
}
.cus-card-rate .ant-rate-star{
    margin-right: 4px;
}
.cus-goods-item .ant-card-body{
    padding: 0;
}

.cus-menu-item .cut-avatar .anticon {
    margin-right: 0;
}

.cus-menu-item .cut-avatar .cut-menu-anticon {
    margin-right: 5px;
}