<div nz-row [nzType]="'flex'" [nzAlign]="'middle'" class="cus-info-bar">
  <div nz-col [nzSpan]="6" [nzOffset]="2" class="cus-main-info">
    <div class="cus-logo-box">
      <img src="../../assets/logo.png" alt="商店logo" class="cus-shop-logo">
    </div>
    <div class="cus-info-box">
      <h2>麻辣鸡鸡店</h2>
      <div class="cus-shop-address">麻章区广东海洋大学小吃街</div>
      <nz-rate [ngModel]="3" [nzDisabled]="true"></nz-rate>
    </div>
  </div>
  <div nz-col [nzSpan]="3" [nzOffset]="5" class="cus-other-info-item">
    <div class="cus-info-item-title">
      销量
    </div>
    <div class="cus-info-item-content">
      1668 单
    </div>
  </div>
  <div nz-col [nzSpan]="3" class="cus-other-info-item">
    <div class="cus-info-item-title">
      起送价
    </div>
    <div class="cus-info-item-content">
      1888 元
    </div>
  </div>
  <div nz-col [nzSpan]="3" class="cus-other-info-item">
    <div class="cus-info-item-title">
      营业时间
    </div>
    <div class="cus-info-item-content">
      0:00 - 0:00
    </div>
  </div>
</div>
