<div nz-row [nzType]="'flex'" [nzAlign]="'middle'" class="cus-info-bar">
  <div nz-col [nzSpan]="6" [nzOffset]="2" class="cus-main-info">
    <div class="cus-logo-box">
      <img src="../../assets/logo.png" alt="商店logo" class="cus-shop-logo">
    </div>
    <div class="cus-info-box">
      <h2>{{shopInfo.shopname}}</h2>
      <div class="cus-shop-address">{{shopInfo.shopaddress}}</div>
      <nz-rate [ngModel]="3" [nzDisabled]="true"></nz-rate>
    </div>
  </div>
  <div nz-col [nzSpan]="3" [nzOffset]="5" class="cus-other-info-item">
    <div class="cus-info-item-title">
      联系电话
    </div>
    <div class="cus-info-item-content">
      {{shopInfo.shippingphone}}
    </div>
  </div>
  <div nz-col [nzSpan]="3" class="cus-other-info-item">
    <div class="cus-info-item-title">
      起送价
    </div>
    <div class="cus-info-item-content">
      {{shopInfo.mincost}} 元
    </div>
  </div>
  <div nz-col [nzSpan]="3" class="cus-other-info-item">
    <div class="cus-info-item-title">
      营业时间
    </div>
    <div class="cus-info-item-content">
      {{shopInfo.opentime}}
    </div>
  </div>
</div>
