

<div nz-row class="cus-order-container">


  <div nz-col [nzSpan]="3" [nzOffset]="4"  class="cus-order-list-menu">

      <ul nz-menu [nzMode]="'inline'" style="width: 240px;" class="cus-order-list-menu-ul">
         
          <li nz-menu-item>
            <span title>
              <i class="anticon anticon-home"></i>
              <span>所有订单</span>
            </span>
          </li>

          <li nz-menu-item>
            <span title>
              <i class="anticon anticon-pay-circle-o"></i>
              <span>未支付订单</span>
            </span>
          </li>

          <li nz-menu-item>
            <span title>
              <i class="anticon anticon-reload"></i>
              <span>已取消订单</span>
            </span>
          </li>

          <li nz-menu-item>
            <span title>
              <i class="anticon anticon-pushpin-o"></i>
              <span>待接单</span>
            </span>
          </li>

          <li nz-menu-item>
            <span title>
              <i class="anticon anticon-pushpin"></i>
              <span>已接单</span>
            </span>
          </li>

          <li nz-menu-item>
            <span title>
              <i class="anticon anticon-smile-o"></i>
              <span>已完成订单</span>
            </span>
          </li>

          <li nz-menu-item>
            <span title>
              <i class="anticon anticon-message"></i>
              <span>待评价订单</span>
            </span>
          </li>
          
          <li nz-menu-item>
            <span title>
              <i class="anticon anticon-select"></i>
              <span>已退单</span>
            </span>
          </li>
  
       
        </ul>
  </div>


  <div nz-col [nzSpan]="13" class="cus-order-list-out">
    
    <div class="cus-order-list-in">
      <div nz-row class="cus-order-list-in-padding">
          <div nz-col [nzSpan]="4" class="cus-order-list-in-padding-title">
            时间
          </div>
          <div nz-col [nzSpan]="8" class="cus-order-list-in-padding-title">
            内容
          </div>
          <div nz-col [nzSpan]="3" class="cus-order-list-in-padding-title">
            金额
          </div>
          <div nz-col [nzSpan]="3" class="cus-order-list-in-padding-title">
            状态
          </div>
          <div nz-col [nzSpan]="6" class="cus-order-list-in-padding-title">
            操作
          </div>
      </div>


      <div *ngFor="let order of OrderList" nz-row [nzType]="'flex'" [nzJustify]="'center'" [nzAlign]="'middle'"  class="cus-order-list-in-padding cut-order-item-row">
        <div nz-col [nzSpan]="4" class="cus-order-list-in-padding-item">
          <p>{{order.createTime}}</p>
        </div>
        <div nz-col [nzSpan]="8" class="cus-order-list-in-padding-item">
           <div style="padding-left:30px;">
             <img src="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=2177693826,311469807&fm=27&gp=0.jpg" class="cus-order-item-img"/>
             <div class="cus-order-item-content">
               <p>{{order.shopName}}</p>
               <span>订单号：{{order.orderNum}}</span>
             </div>
           </div>
        </div>
        <div nz-col [nzSpan]="3" class="cus-order-list-in-padding-item cus-order-item-money">
          {{order.amount}}
        </div>
        <div nz-col [nzSpan]="3" class="cus-order-list-in-padding-item">
          {{order.orderState}}
        </div>
        <div nz-col [nzSpan]="6" class="cus-order-list-in-padding-item ">
          <button nz-button [nzType]="'primary'">
            <span>付款</span>
          </button>
          <button nz-button [nzType]="'dashed'">
            <span>取消订单</span>
          </button>
        </div>
      </div>
      

<!--       
      <div nz-row [nzType]="'flex'" [nzJustify]="'center'" [nzAlign]="'middle'"  class="cus-order-list-in-padding cut-order-item-row">
        <div nz-col [nzSpan]="4" class="cus-order-list-in-padding-item">
          <p>2017/11/11</p>
          <p>12:12</p>
        </div>
        <div nz-col [nzSpan]="8" class="cus-order-list-in-padding-item">
           <div style="padding-left:30px;">
             <img src="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=2177693826,311469807&fm=27&gp=0.jpg" class="cus-order-item-img"/>
             <div class="cus-order-item-content">
               <p>商家名称啊啊啊</p>
               <span>订单号：sk2kf9546f52kjsf</span>
             </div>
           </div>
        </div>
        <div nz-col [nzSpan]="3" class="cus-order-list-in-padding-item cus-order-item-money">
          88.88
        </div>
        <div nz-col [nzSpan]="3" class="cus-order-list-in-padding-item">
          未支付
        </div>
        <div nz-col [nzSpan]="6" class="cus-order-list-in-padding-item ">
          <button nz-button [nzType]="'primary'">
            <span>付款</span>
          </button>
          <button nz-button [nzType]="'dashed'">
            <span>取消订单</span>
          </button>
        </div>
      </div>


      <div nz-row [nzType]="'flex'" [nzJustify]="'center'" [nzAlign]="'middle'"  class="cus-order-list-in-padding cut-order-item-row">
        <div nz-col [nzSpan]="4" class="cus-order-list-in-padding-item">
          <p>2017/11/11</p>
          <p>12:12</p>
        </div>
        <div nz-col [nzSpan]="8" class="cus-order-list-in-padding-item">
           <div style="padding-left:30px;">
             <img src="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=2177693826,311469807&fm=27&gp=0.jpg" class="cus-order-item-img"/>
             <div class="cus-order-item-content">
               <p>商家名称啊啊啊</p>
               <span>订单号：sk2kf9546f52kjsf</span>
             </div>
           </div>
        </div>
        <div nz-col [nzSpan]="3" class="cus-order-list-in-padding-item cus-order-item-money">
          88.88
        </div>
        <div nz-col [nzSpan]="3" class="cus-order-list-in-padding-item">
          待接单
        </div>
        <div nz-col [nzSpan]="6" class="cus-order-list-in-padding-item ">
          <button nz-button [nzType]="'danger'">
            <span>退单</span>
          </button>
        </div>
      </div>


      <div nz-row [nzType]="'flex'" [nzJustify]="'center'" [nzAlign]="'middle'"  class="cus-order-list-in-padding cut-order-item-row">
        <div nz-col [nzSpan]="4" class="cus-order-list-in-padding-item">
          <p>2017/11/11</p>
          <p>12:12</p>
        </div>
        <div nz-col [nzSpan]="8" class="cus-order-list-in-padding-item">
           <div style="padding-left:30px;">
             <img src="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=2177693826,311469807&fm=27&gp=0.jpg" class="cus-order-item-img"/>
             <div class="cus-order-item-content">
               <p>商家名称啊啊啊</p>
               <span>订单号：sk2kf9546f52kjsf</span>
             </div>
           </div>
        </div>
        <div nz-col [nzSpan]="3" class="cus-order-list-in-padding-item cus-order-item-money">
          88.88
        </div>
        <div nz-col [nzSpan]="3" class="cus-order-list-in-padding-item">
          已取消
        </div>
        <div nz-col [nzSpan]="6" class="cus-order-list-in-padding-item ">
          
        </div>
      </div>


      <div nz-row [nzType]="'flex'" [nzJustify]="'center'" [nzAlign]="'middle'"  class="cus-order-list-in-padding cut-order-item-row">
        <div nz-col [nzSpan]="4" class="cus-order-list-in-padding-item">
          <p>2017/11/11</p>
          <p>12:12</p>
        </div>
        <div nz-col [nzSpan]="8" class="cus-order-list-in-padding-item">
           <div style="padding-left:30px;">
             <img src="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=2177693826,311469807&fm=27&gp=0.jpg" class="cus-order-item-img"/>
             <div class="cus-order-item-content">
               <p>商家名称啊啊啊</p>
               <span>订单号：sk2kf9546f52kjsf</span>
             </div>
           </div>
        </div>
        <div nz-col [nzSpan]="3" class="cus-order-list-in-padding-item cus-order-item-money">
          88.88
        </div>
        <div nz-col [nzSpan]="3" class="cus-order-list-in-padding-item">
          已接单
        </div>
        <div nz-col [nzSpan]="6" class="cus-order-list-in-padding-item ">
          <button nz-button [nzType]="'primary'">
            <span>催单</span>
          </button>
          <button nz-button [nzType]="'danger'">
            <span>退单</span>
          </button>
        </div>
      </div>


      <div nz-row [nzType]="'flex'" [nzJustify]="'center'" [nzAlign]="'middle'"  class="cus-order-list-in-padding cut-order-item-row">
        <div nz-col [nzSpan]="4" class="cus-order-list-in-padding-item">
          <p>2017/11/11</p>
          <p>12:12</p>
        </div>
        <div nz-col [nzSpan]="8" class="cus-order-list-in-padding-item">
           <div style="padding-left:30px;">
             <img src="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=2177693826,311469807&fm=27&gp=0.jpg" class="cus-order-item-img"/>
             <div class="cus-order-item-content">
               <p>商家名称啊啊啊</p>
               <span>订单号：sk2kf9546f52kjsf</span>
             </div>
           </div>
        </div>
        <div nz-col [nzSpan]="3" class="cus-order-list-in-padding-item cus-order-item-money">
          88.88
        </div>
        <div nz-col [nzSpan]="3" class="cus-order-list-in-padding-item">
          已完成订单
        </div>
        <div nz-col [nzSpan]="6" class="cus-order-list-in-padding-item ">
          <button nz-button [nzType]="'default'">
            <span>评价</span>
          </button>
          <button nz-button [nzType]="'danger'">
            <span>退单</span>
          </button>
        </div>
      </div>


      <div nz-row [nzType]="'flex'" [nzJustify]="'center'" [nzAlign]="'middle'"  class="cus-order-list-in-padding cut-order-item-row">
        <div nz-col [nzSpan]="4" class="cus-order-list-in-padding-item">
          <p>2017/11/11</p>
          <p>12:12</p>
        </div>
        <div nz-col [nzSpan]="8" class="cus-order-list-in-padding-item">
           <div style="padding-left:30px;">
             <img src="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=2177693826,311469807&fm=27&gp=0.jpg" class="cus-order-item-img"/>
             <div class="cus-order-item-content">
               <p>商家名称啊啊啊</p>
               <span>订单号：sk2kf9546f52kjsf</span>
             </div>
           </div>
        </div>
        <div nz-col [nzSpan]="3" class="cus-order-list-in-padding-item cus-order-item-money">
          88.88
        </div>
        <div nz-col [nzSpan]="3" class="cus-order-list-in-padding-item">
          已完成订单
        </div>
        <div nz-col [nzSpan]="6" class="cus-order-list-in-padding-item ">
          <button nz-button [nzType]="'default'" disabled>
            <span>已评价</span>
          </button>
          <button nz-button [nzType]="'danger'">
            <span>退单</span>
          </button>
        </div>
      </div>

   
      <div nz-row [nzType]="'flex'" [nzJustify]="'center'" [nzAlign]="'middle'"  class="cus-order-list-in-padding cut-order-item-row">
        <div nz-col [nzSpan]="4" class="cus-order-list-in-padding-item">
          <p>2017/11/11</p>
          <p>12:12</p>
        </div>
        <div nz-col [nzSpan]="8" class="cus-order-list-in-padding-item">
           <div style="padding-left:30px;">
             <img src="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=2177693826,311469807&fm=27&gp=0.jpg" class="cus-order-item-img"/>
             <div class="cus-order-item-content">
               <p>商家名称啊啊啊</p>
               <span>订单号：sk2kf9546f52kjsf</span>
             </div>
           </div>
        </div>
        <div nz-col [nzSpan]="3" class="cus-order-list-in-padding-item cus-order-item-money">
          88.88
        </div>
        <div nz-col [nzSpan]="3" class="cus-order-list-in-padding-item">
          已退单
        </div>
        <div nz-col [nzSpan]="6" class="cus-order-list-in-padding-item ">
          
        </div>
      </div>
      <div nz-row [nzType]="'flex'" [nzJustify]="'center'" [nzAlign]="'middle'"  class="cus-order-list-in-padding cut-order-item-row">
        <div nz-col [nzSpan]="4" class="cus-order-list-in-padding-item">
          <p>2017/11/11</p>
          <p>12:12</p>
        </div>
        <div nz-col [nzSpan]="8" class="cus-order-list-in-padding-item">
           <div style="padding-left:30px;">
             <img src="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=2177693826,311469807&fm=27&gp=0.jpg" class="cus-order-item-img"/>
             <div class="cus-order-item-content">
               <p>商家名称啊啊啊</p>
               <span>订单号：sk2kf9546f52kjsf</span>
             </div>
           </div>
        </div>
        <div nz-col [nzSpan]="3" class="cus-order-list-in-padding-item cus-order-item-money">
          88.88
        </div>
        <div nz-col [nzSpan]="3" class="cus-order-list-in-padding-item">
          未支付
        </div>
        <div nz-col [nzSpan]="6" class="cus-order-list-in-padding-item ">
          <button nz-button [nzType]="'primary'">
            <span>付款</span>
          </button>
          <button nz-button [nzType]="'default'">
            <span>取消订单</span>
          </button>
        </div>
      </div>
      <div nz-row [nzType]="'flex'" [nzJustify]="'center'" [nzAlign]="'middle'" class="cus-order-list-in-padding cut-order-item-row">
        <div nz-col [nzSpan]="4" class="cus-order-list-in-padding-item">
          <p>2017/11/11</p>
          <p>12:12</p>
        </div>
        <div nz-col [nzSpan]="8" class="cus-order-list-in-padding-item">
           <div style="padding-left:30px;">
             <img src="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=2177693826,311469807&fm=27&gp=0.jpg" class="cus-order-item-img"/>
             <div class="cus-order-item-content">
               <p>商家名称啊啊啊</p>
               <span>订单号：sk2kf9546f52kjsf</span>
             </div>
           </div>
        </div>
        <div nz-col [nzSpan]="3" class="cus-order-list-in-padding-item cus-order-item-money">
          88.88
        </div>
      
        <div nz-col [nzSpan]="3" class="cus-order-list-in-padding-item">
          未支付
        </div>
        <div nz-col [nzSpan]="6" class="cus-order-list-in-padding-item ">
          <button nz-button [nzType]="'primary'">
            <span>付款</span>
          </button>
          <button nz-button [nzType]="'default'">
            <span>取消订单</span>
          </button>
        </div>
      </div>
      -->

      <div style="text-align:right;padding-top:15px;padding-bottom:15px;">
        <nz-pagination [nzPageIndex]="1" [nzTotal]="50"></nz-pagination>
      </div>


    </div>
  </div>

</div>