<div class="cus-ordertype-span">{{ordertypes[currentType]}}</div>
<nz-table #nzTable 
  [nzAjaxData]="orderList" 
  [nzTotal]="total" 
  [(nzPageIndex)]="current" 
  [nzLoading]="isLoading" 
  [nzPageSize]="6"
  (nzPageIndexChange)="getOrders()"
  [nzShowTotal]="true">
  <thead nz-thead>
    <tr>
      <th nz-th [nzWidth]="4" class="cus-order-list-in-padding-title">
        <span>时间</span>
      </th>
      <th nz-th [nzWidth]="8" class="cus-order-list-in-padding-title">
        <span>内容</span>
      </th>
      <th nz-th [nzWidth]="3" class="cus-order-list-in-padding-title">
        <span>金额</span>
      </th>
      <th nz-th [nzWidth]="3" class="cus-order-list-in-padding-title">
        <span>状态</span>
      </th>
      <th nz-th [nzWidth]="6" class="cus-order-list-in-padding-title">
        <span>操作</span>
      </th>
    </tr>
  </thead>
  <tbody nz-tbody>
    <tr nz-tbody-tr *ngFor="let order of nzTable.data" class="cus-order-list-in-padding cut-order-item-row">
      <td nz-td class="cus-order-list-in-padding-item">
        <span>{{order.createtime}}</span>
      </td>
      <td nz-td class="cus-order-list-in-padding-item">
        <img src="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=2177693826,311469807&fm=27&gp=0.jpg" class="cus-order-item-img"
        />
        <div class="cus-order-item-content">
          <p>{{order.shopname}}</p>
          <span>订单号：{{order.ordernum}}</span>
        </div>
      </td>
      <td nz-td class="cus-order-list-in-padding-item cus-order-item-money">
        {{order.amounts}}
      </td>
      <td nz-td class="cus-order-list-in-padding-item">
        {{order.status==0?"未支付":""}}
        {{order.status==1?"已取消":""}}
        {{order.status==2?"待接单":""}}
        {{order.status==3?"已接单":""}}
        {{order.status==4?"已完成订单":""}}
        {{order.status==5?"已退单":""}}
        {{order.status==6?"退单处理中":""}}
        {{order.status==7?"已评价":""}}
      </td>
      <td nz-td class="cus-order-list-in-padding-item">
          <span>
            <button *ngIf="order.status==0" nz-button [nzType]="'primary'" (click)="payOrder(order.ordernum)">
              <span>付款</span>
            </button>

            <!-- (click)="cancelOrder(order.ordernum)" -->
            <nz-popconfirm *ngIf="order.status==0" [nzTitle]="'确定要删除这个任务吗？'" (nzOnConfirm)="cancelOrder(order.orderid)">
              <button nz-popconfirm nz-button [nzType]="'dashed'" >
                <span>取消订单</span>
              </button>
            </nz-popconfirm>

            
            <button *ngIf="order.status==3" nz-button [nzType]="'primary'" (click)="remindOrder(order.orderid)">
              <span>催单</span>
            </button>
            <button *ngIf="order.status==2 || order.status==3" nz-button [nzType]="'danger'" (click)="returnOrder(order.orderid)">
              <span>退单</span>
            </button>
            
            <button *ngIf="order.status==4" nz-button [nzType]="'default'" (click)="checkOrderDetail(order.orderid)">
              <span>评价</span>
            </button>
            <button nz-button [nzType]="'default'" (click)="checkOrderDetail(order.orderid)">
              <span>查看详情</span>
            </button>
          </span>
  
      </td>
    </tr>
  </tbody>
</nz-table>