/* 每一行订单的row */

.cut-order-item-row {
    box-shadow: 0px 1px 0px #eee;
}

.cus-order-list-in-padding-title {
    text-align: center;
    font-size: 14px;
}

.cus-order-list-in-padding-item {
    text-align: center;
}

/* 订单表中的商家头像 */

.cus-order-item-img {
    width: 50px;
    height: 50px;
    float: left;
    border-radius: 50%;
    margin-left: 50px;
}

/* 订单列表中的商家名称以及订单号 */

.cus-order-item-content {
    padding-left: 20px;
    float: left;
    text-align: left;
}

.cus-order-item-content>p {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 5px;
}

/* 金额 */

.cus-order-item-money {
    font-weight: bold;
    font-size: 16px;
}

/* 表头 */

.cus-ordertype-span {
    font-size: 150%;
    margin-bottom: 5px;
}